<h1>All my vans</h1>
<% @vans.each do |van| %>
<% if policy(van).index? %>
  <%= link_to van.description, van_path(van)%>
  <%= van.owner.name %>
  <%= van.cost_per_night %>
  <%= link_to "delete", van_path(van), method:'delete' %>
 <% end %>
<% end %>
