// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  background: #F4F4F4;
}

p {
  font-weight: lighter;
}

h1, h2, h3, h4, h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: center;
}

h1 {
  font-color: gray;
}

h2 {
  font-size: 25px;
  color: black;
}

h3 {
  font-size: 14px;
}

h4 {
  color: gray !important;
}

h5 {
  font-size: 4px;
  color: gray !important;
}
.padded {
  padding: 30px 0;
}




