<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_url 'camper.png' %>');">
  <div class="banner-content">
    <form action="/vans" method='get'>
      <input type="text" name='location', placeholder="City">
      <div class="input-daterange input-group" id="datepicker">
        <input type="text" name="start" />
        <span>to</span>
        <input type="text" name="end" />
      </div>
      <input type="submit" value='Search'>
    </form>
  </div>
</div>