<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_url 'banner.jpg' %>');">
  <div class="banner-content">
    <form action="/vans" method='get'>
        <div class="row">
          <h2>Fill in your City</h2>
              <div id="custom-search-input">
                  <div class="input-group col-md-12">
                      <input type="text" name="address" id="city_address" class="form-control input-lg" placeholder="City" />
                      <span class="input-group-btn">
                          <button class="btn btn-info btn-lg" type="button">
                              <%= link_to vans_path do %>
                              <i class="glyphicon glyphicon-search"></i>
                              <% end %>
                          </button>
                      </span>
                  </div>
              </div>
            </div>
      <div class="input-daterange input-group" id="datepicker">
        <input type="text" name="start" />
        <span style="color:white">to</span>
        <input type="text" name="end" />
      </div>
    </form>
  </div>
</div>

