<h1> This is the home page</h1>
<h2>Existing Vans</h2>

<ul>
  <% @vans.each do |van| %>
  <li><%= link_to van.description, van_path(van)%></li>
  <% end %>
</ul>


<form action="/vans" method='get'>
  <input type="text" name='location'>
  <input type="submit" value='Search'>
</form>
