<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1> This is the home page</h1>
<% @vans.each do |van| %>
<p>
  <%= link_to van.description, van_path(van)%>
</p>
<p>
  <%= van.cost_per_night %>
</p>

<% end %>
