<%= render 'shared/banner' %>

  <div class="container">
    <div class="row">

      <% @vans.each do |van| %>
        <div class="col-xs-12 col-sm-4">
          <%= render 'card', van: van %>
        </div>
      <% end  %>

    </div>
  </div>




<!-- Latest compiled and minified CSS -->

<!--   <script>
    $(document).on('turbolinks:load', function() {
      $('#patient_date_of_birth_modal').datepicker({
        format: 'yyyy-mm-dd'
      }).on('hide', function(event) {
        event.preventDefault();
        event.stopPropagation();
      });
    });
  </script>
 -->

<%= javascript_pack_tag 'datepicker' %>
