/* Your banner CSS file */
.banner {
    color: Black;
    text-align: center;
    height: 550px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content h2 {
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
    font-size: 25px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 50px;
}

.banner-content {
    display: flex;
    text-align: center;
}
#custom-search-input{
    margin-right:auto;
    margin-left:auto;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    text-align:center;
    width: 500px;
    margin-bottom: 10px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    margin-bottom: margin-bottom;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
    margin-bottom: margin-bottom;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.input-daterange {
  margin: auto;
  margin-bottom: 10px;
}

.btn-landing {
  margin: auto;
  border-radius: 5px;
}
