.card {
  border: solid;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  position: relative;
}
.card-image {
  height: 200px;
  background-size: cover !important;
  background-position: center;
}

.card-description {
  bottom: 10px;
  margin-left: 10px;
}

.card-description h2 {
  font-size: 24px;
  text-align: left;
}

.card-description p {
  font-size: 14px;
  color: gray;
  opacity: 0.7;
  font-weight: lighter;
}

@media (min-width: 480px) {
  .card {
    width: 300px;
  }
}

.card:hover {
  opacity: 0.8;
}

