.container {
  background: white;
  margin-top: 50px;
  padding: 30px;
  border-radius: 5px;
  width: 50%;

  .form-title {
    h2{
    font-size: 35px;
    padding-bottom: 20px;
    margin-top: -5px;
  }
  }
}

.btn-van-creation {
  width: 100%;
  font-weight: bold;
}


